* {
    box-sizing: border-box;
    margin: 0;
}

header {
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.upload {
    margin-left: 150px;
    margin-bottom: 50px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
}

.gallery-item {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.more {
    margin-left: 50%;
    transform: translate(-50%);
}

.hide {
    visibility: hidden;
}

a > img {
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

a > img:hover {
    opacity: 0.7;
}

.image-info {
    width: 98.5vw;
    height: 100vh;
    background-color: rgba(166, 22, 40, 0.5);
    position: fixed;
    top: 0;
}

.container {
    background-color: black;
    color: white;
    width: 88%;
    margin-left: 6%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.container > img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}

button {
    cursor: pointer;
}

#image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#image-input + label {
    cursor: pointer;
}
